<!DOCTYPE html>
<html>
<head>
	<title>	</title>
<!--	 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
<input type="text" id="textInput" name="textInput" placeholder="Type your text here..."> 
<!--<p id='embed'>{{embed}}</p>-->
<p id='log'></p>
</body>
<!--<script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>-->
<script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
<script>
	var textinputfield=document.getElementById('textInput');
	document.body.onkeyup=function(e){
		e.preventDefault();
		var texti=document.getElementById('textInput').value
		//var textis=JSON.stringify(texti);
		if(e.keyCode==32){
			callSearchAPI(texti);
		}
	}
	function callSearchAPI(rawText){
		$.get("/get", { msg: rawText }).done(function (data) {
        console.log(rawText);
        console.log(data);
        const msgText = data;
        document.getElementById('log').innerHTML=msgText;

	});
	}
</script>
</html>
